<% active_page_is :user_management %>

<div class='text-center'>
  <%= form_for [@school, @user], html: {class: 'well'} do |f| %>
      <%= render partial: 'shared/errors', locals: {model: @user} %>

      <div class="controls controls-row">
        <%= f.label :firstname, 'First Name', class: "control-label" %>
        <%= f.text_field :firstname, autofocus: true %>

        <%= f.label :lastname, 'Last Name', class: "control-label form-second-column" %>
        <%= f.text_field :lastname %>
      </div>

      <div class="controls controls-row">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email %>

        <%= f.label :password, 'Pin', class: "control-label form-second-column" %>
        <%= f.text_field :password, maxlength: User::PIN_LENGTH %>

        <%= button_tag "Generate a random pin", id: 'generate_pin', type: 'button', class: 'btn', data: {'new-pin-url' => new_school_pin_path(school_id: @school.id), 'password-field' => 'user_password'} %>
      </div>

      <div class="controls-row">
        <%= f.label :is_teacher, 'Is this user a teacher?', class: 'control-label' %>
        <%= f.check_box :is_teacher %>
      </div>

      <%= f.submit "Add User", class: "btn btn-primary" %>
  <% end %>

  <%= form_tag bulk_add_school_users_path(@school), multipart: true, class: 'form-inline well' do %>
       <%= file_field_tag :file, title: "Choose a file to upload" %>

       <%= submit_tag "Add Users", class: "btn btn-primary" %>
  <% end %>

  <% if @users.any? %>
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Pin</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= user.pin %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
    <%= render partial: 'shared/help_text', locals: {help_text: 'No users yet. Use the form above to create teachers and students for your school.'} %>
  <% end %>
</div>
