<% active_page_is :user_management %>

<div class='text-center'>
    <%= form_for :user, url: users_path do |f| %>
      <div class="control-group">
        <%= f.label :firstname, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :firstname, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :lastname, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lastname %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :pin, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :is_teacher %>
        <div class="controls">
          <%= f.check_box :is_teacher %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Add", class: "btn btn-success btn-large" %>
        </div>
      </div>
    <% end %>
</div>
