<div class='navbar navbar-static-top'>
  <div class="navbar-inner">
    <div class = "container">
      <a class="brand" href="#">
        <%= image_tag 'logo_tr_s.png', class: 'logo text-left', size: '125x375', alt: 'Arrive' %>
      </a>
      <% if signed_in? %>
        <ul class="nav nav-pills">
          <li class="<%= nav_class_for(:dashboard) %>"><%= link_to 'Dashboard', root_path %></li>
          <li class="<%= nav_class_for(:reports) %>"><%= link_to 'Reports', new_school_report_path(school_id: current_user.school.id) %></li>
          <li class="<%= nav_class_for(:user_management) %>"><%= link_to 'User Management', school_users_path(school_id: current_user.school.id) %></li>
          <li class="<%= nav_class_for(:class_management) %>"><%= link_to 'Class Management', school_courses_path(school_id: current_user.school.id) %></li>
        </ul>
        <div class="identification pull-right">
          <%= current_user.firstname %><span class="school-name">@<%= current_user.school.name %></span>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn logout_button' %>
        </div>
      <% else %>
          <h2 class="heading-lead text-success"><%= t 'messages.welcome_to_arrive' %></h2>
      <% end %>
    </div>
  </div>
</div>
  
