
  <div class="span8 offset2 text-center">
    <%= image_tag "logo.png", class: "logo" %>
  </div>

  <div>
    <h1 class="heading-lead text-success"><%= t 'messages.welcome_to_arrive', %></h1>
  </div>
  
    <%= form_for :user, url: session_path(:user), html: { class: "sign-in form-horizontal text-left" } do |f| %>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Log In", class: "btn btn-success btn-large" %>
        </div>
      </div>
    <% end %>

  </div>

