<% active_page_is :class_management %>

<div class='text-center'>
  <%= form_for @classes, url: classes_path do |f| %>
      <div>
         <% @classes.errors.full_messages.each do |error_message| %>
            <div class='text-error'><%= error_message %></div>
        <% end %>
      </div>

      <div>
        <%= f.label :name, 'Class:' %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.submit class: 'btn', value: 'Save Class' %>
      </div>
  <% end %>
</div>

<% @all_classes.each do |classes| %>
    <p><%= classes.name %></p>
<% end %>