<div class="text-center">
 	<h2 class="heading-lead nightingale_name">@ <%= current_user.school_name %></h2>
</div>

<%= render_header_for :class_management %>

<br>
<br>
<br>


<div class="text-center">
	<%= form_for :classes, url: classes_path do |f| %>
		<% if local_assigns.has_key? :error? %>
			<%= error %>
		<% end %>
		<p>
			<label>Class:</label>
			<%= f.text_field :name%>
		</p>

		<p>
			<%= f.submit :class=> "btn", :value=> "Save Class"   %>
		</p>
	<% end %>
</div>

<% @all_classes.each do |c| %>
	<p><%= c.name %></p>
<% end %>

