<div class='text-center'>
 	<h2 class='heading-lead nightingale_name'>@ <%= current_user.school_name %></h2>
</div>

<%= render_header_for :class_management %>

<br>
<br>
<br>

<div class='text-center'>
  <%= form_for @classes, url: classes_path do |f| %>
      <div>
         <% @classes.errors.full_messages.each do |error_message| %>
            <div><%= error_message %></div>
        <% end %>
      </div>

      <div>
        <%= f.label :name, 'Class:' %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit class: 'btn', value: 'Save Class' %>
      </div>
  <% end %>
</div>

<% @all_classes.each do |classes| %>
    <p><%= classes.name %></p>
<% end %>