<h5 class='login-message'>Log in below to access the admin portal.</h5>

<%= form_for :user, url: session_path(:user), html: { class: "sign-in form-horizontal" } do |f| %>
  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Log In", class: "btn btn-success btn-large" %>
    </div>
  </div>
<% end %>

<script>
  jQuery(document).ready(function (){
    jQuery('.logo').css('max-width', '400px');
  });
</script>
