<% active_page_is :course_management %>

<div class='text-center'>
  <%= form_for [@school, @course], html: {class: 'form-inline well'} do |f| %>
      <%= render partial: 'shared/errors', locals: {model: @course} %>

      <%= f.label :name, 'Course' %>
      <%= f.text_field :name %>

      <%= f.submit value: 'Add Class', class: 'btn btn-primary' %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Class Name</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
