<% active_page_is :course_management %>

<div class='text-center'>
  <%= form_for [@school, @course] do |f| %>
      <%= render partial: 'shared/errors', locals: { model: @course } %>

      <div>
        <%= f.label :name, 'Course:' %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.submit class: 'btn', value: 'Save Course' %>
      </div>
  <% end %>
</div>

<% @courses.each do |course| %>
    <p><%= course.name %></p>
<% end %>
