<div>
  <%= image_tag 'logo.png', class: 'logo text-left' %>

  <% if signed_in? %>
      Welcome, <%= current_user.username %>
      <%= link_to 'Logout?', destroy_user_session_path, method: :delete, class: 'btn text-right' %>

      <h2 class='text-center heading-lead school-name'>@ <%= current_user.school.name %></h2>
  <% else %>
      <h2 class="text-center heading-lead text-success"><%= t 'messages.welcome_to_arrive' %></h2>
  <% end %>
</div>

<% if signed_in? %>
    <div class='text-center'>
      <%= link_to 'Dashboard', root_path, class: header_button_class_for(:dashboard) %>
      <%= link_to 'Reports', reports_path, class: header_button_class_for(:reports) %>
      <%= link_to 'User Management', users_path, class: header_button_class_for(:user_management) %>
      <%= link_to 'Course Management', courses_path, class: header_button_class_for(:course_management) %>
      <%= link_to 'School Management', schools_path, class: header_button_class_for(:school_management) %>
    </div>
<% end %>
