<div class="text-center">
  <h2 class="heading-lead nightingale_name">@ <%= current_user.school_name %></h2>
</div>

<div class='text-center'>
  <%= link_to 'Dashboard', '/home', class: header_button_class_for(:dashboard) %>
  <%= link_to 'Reports', '/reports/index', class: header_button_class_for(:reports) %>
  <%= link_to 'User Management', '/users/index', class: header_button_class_for(:user_management) %>
  <%= link_to 'Class Management', classes_path, class: header_button_class_for(:class_management) %>
</div>