<% if report.results.any? %>
   <div class="list-report">

    <label class="control-label"> Students with check ins</label>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <% report.results.each do |check_in| %>
          <tr>
            <td><%= check_in.user.full_name %></td>
            <td><%= check_in.course.name %></td>
            <td><time datetime="<%=(check_in.created_at.to_time.iso8601.to_s) %>" data-format="MMM, DD, YYYY hh:mm A"><%=format_timestamp(check_in.created_at.to_s)%></time></td>
          </tr>
      <% end %>
      </tbody>
    </table>
   </div>
<% else %>
    <%= render partial: 'shared/help_text', locals: {help_text: 'No check-ins found. Try widening your search dates.'} %>
<% end %>
