<% active_page_is :reports %>

<div>
  <%= form_tag(school_reports_path(params[:school_id]), method: 'get', html: {class: 'form-inline well'}) do |form| %>
      <%= form.label :from %>
      <div class="input-append date" data-date="<%= @from_date %>" data-date-format="mm-dd-yyyy" data-ui="datepicker">
        <%=text_field_tag :from, @from, class:"span2", size:"16"%>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>

      <%= form.label :to %>
      <div class="input-append date" data-date="<%= @to_date %>" data-date-format="mm-dd-yyyy" data-ui="datepicker">
        <%=text_field_tag :to, @to, class:"span2", size:"16"%>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>

      <%= submit_tag 'Run Report', class: 'btn btn-primary', name: nil %>
  <% end %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
        <% @check_ins.each do |check_in| %>
            <tr>
              <td><%= check_in.user.full_name %></td>
              <td><%= check_in.course.name %></td>
              <td><%= format_timestamp(check_in.created_at.to_s) %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>
