<% active_page_is :reports %>

<div class='text-center'>
  From:
  <div class="input-append date" data-date="<%=todays_date_formatted %>" data-date-format="mm-dd-yyyy" data-ui="datepicker">
    <input class="span2" size="16" type="text" value="<%=todays_date_formatted %>" />
    <span class="add-on"><i class="icon-th"></i></span>
  </div>

  To:
  <div class="input-append date" data-date="<%=todays_date_formatted %>" data-date-format="dd-mm-yyyy" data-ui="datepicker">
    <input class="span2" size="16" type="text" value="<%=todays_date_formatted %>" />
    <span class="add-on"><i class="icon-th"></i></span>
  </div>

  <div>
    <% CheckIn.all.each do |check_in| %>
        <%=check_in.user.username %> -- <%=check_in.course.name %> -- <%=check_in.created_at %>
    <% end %>
  </div>
</div>