<!DOCTYPE html>
<html>
<head>
  <title>ArriveServer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, id: "#{controller.controller_name}" do %>
  <div class="container">
    <div class="row logo-header">
      <div class="span8 offset2">
        <%= render 'shared/header' %>
      </div>
    </div>

    <div class="row">
      <div class="span8 offset2">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
</html>
